
@media (max-width: 768px) {

    
#container{
  width: 100vw;
}
a.stickywhatsapp{
 display: none;
}
.nav_content{
  display: none;
}
.nav_bar{
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
}

.logo img {
  width: 3rem;
  height: 2.7rem;
}

.hamburger-menu {
    display: flex;
    z-index: 999;
    padding-right: 2rem;
}
.mail_btn button{
  width: 10rem;
  height: 3rem;
  font-size:0.8rem;
}
.mail_btn button i{
  font-size: 1rem;
}
#sidebar{
  width: 50vw;
  margin-right: 42vh;
}
#sidebar .navcontent{
  padding-left: 3vw;
}
 #sidebar .navcontent a{
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-weight: 600;
}
#sidebar .navcontent i{
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-weight: 600;
}
.lines hr{
  display: none;
}


.arrow1,  .arrow1_1 {
        display: none; /* Hide arrow buttons on mobile */
    }
    .arrow2{
      -webkit-transform: translateY(30vh);
        transform: translateY(30vh);
        margin-left:37vh;
        width: 13vw;
        height: 13vw;
        bottom: 0;
        
    }
    .arrow2 img{
        width: 5vw;
        height: 3vw;
    }

    .slider {
        height: 100vh; /* Adjust height for mobile */
    }
    .slide{
      height: 80vh;
    }
    
    .abt_img img{
        width: 60vw;
        height: 30vh;
    }
    .border{
        display: none;
    }
    .fdback_img img{
        display: none;
    }
    .rating img{
        width: 10vw;
    }
    .imgs img{
        width: 12vw;
    }
    .design1 img{
        display: none;
    }

    .slide {
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        height: auto;
        align-items: center;
        justify-content: center;
        padding-bottom: 4vh;
        
       
    }
    .info,.info1,.info2{
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
   
    .info, .info1, .info2 {
        max-width: 90vw;
        
        margin-left: 0;
        
        text-align: center;
    }
    .info1{
        margin-top: -10vh;
    }
    .info h1{
        font-size: 6vw;
        
        margin-top: 35vh;
        text-align: start;
        line-height: 9vw;
        transform: translateY(17vh);
        -webkit-transform: translateY(17vh);
    }
    
    
    .info1 h1 {
        /* font-size:6.3vw;
        margin-top: 25vh;
        line-height: 10vw;
        text-align: start;
        transform: translateY(9vh); */
        font-size: 6vw;
        margin-top: 10vh;
        text-align: start;
        line-height: 9vw;
        transform: translateY(17vh);
        -webkit-transform: translateY(17vh);
    }
    .info2 h1{
        /* font-size: 7vw;
        line-height: 9vw;
        text-align: start;
        transform: translateY(22vh); */
        font-size: 6vw;
        margin-top: 25vh;
        text-align: start;
        line-height: 9vw;
        transform: translateY(17vh);
        -webkit-transform: translateY(17vh);
    }
    /* .info2{
        margin-top: -10vh;
    } */
    
    .info p{
        font-size: 4vw;
        line-height: 7vw;
        text-align: start;
        transform: translateY(6rem);
        -webkit-transform: translateY(6rem);
        
    }
    .info1 p{
      font-size: 4vw;
      line-height: 7vw;
      text-align: start;
      transform: translateY(7rem);
      -webkit-transform: translateY(7rem);
    }
    .info2 p{
      font-size: 4vw;
      line-height: 7vw;
      text-align: start;
      transform: translateY(6rem);
      -webkit-transform: translateY(6rem);
    }
    
    
    .info1 img{
        width: 5vw;
        height: 5vw;
    }
    .info img{
        width: 4vw;
        height: 4vw;
      
       
    }
    .info1 a{
        
        width: 40vw;
        height: 5vh;
        font-size: 4vw;
        /* margin-top: 10vh; */
        position: relative;
        
        
        margin-left: -1vw; 
        transform: translateY(18vh);
        -webkit-transform: translateY(18vh);

    }
    .info a{
        
        width: 40vw;
        height: 5vh;
        font-size: 4vw;
        margin-left:-1vw;
        transform: translateY(12vh);
        -webkit-transform: translateY(12vh);
        
    }
    .info2 a{
        width: 40vw;
        height: 5vh;
        font-size: 4vw;
        margin-left:-1vw;
        /* margin-top: -0.1vw; */
        transform: translateY(10vh);
        -webkit-transform: translateY(10vh);
    }
    .info{
        margin-top: 33vh;
    }
    .info1,.info2{
        margin-top: 50vh;
    }

    

    .image img, .image01 img, .image02 img {
        width: 90vw;
        height: auto;
        margin-left: 0;
        margin-top: 2vh;
        margin-top: -6vh;
    }
    /* .image01 img{
        width: 60vw;
        
    } */

    .footer {
        /* position: static; */
        max-width: 100vw;
        margin: 0 auto;
        margin-top: 3vh;
        justify-content: space-around;
        margin-top: 105vh;
        height: 8vh;
        display: none;
        
    }
    .scroll-content{
        max-width: 30vw;
        padding-right: 130vh;
        background-color: pink;
        display: none;
        
    }

    .footer p {
        font-size: 3.5vw;
    }
    .footer img{
        width: 3vw;
        height: 3vw;
    }

    .dotted_arrow {
        display: none; /* Hide dotted arrows on mobile */
    }
   /* about us resposniveness */
   .aboutus{
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 86vh;
    margin-top: -0.1em;
    padding-top: 3.5vh;
    
   }
   .abt_info a{
    width: 30vw;
    height: 5vh;
    font-size: 3vw;
    margin-left: 13vh;
    transform: translateY(-3vh);
    -webkit-transform: translateY(-3vh);
   }
   .abt_info button img{
    width: 4vw;
    height: 4vw;
   }
   .abt_img img{
    width: 70vw;
    height: 70vw;
    margin-top: 14vh;
   }
   .abt_info{
    display: flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    justify-content: center;
    padding-bottom: 20vh;
    margin-left: 2vh;
   }
   .abt_info h1{
    font-size: 6vw;
    line-height: 7vw;
   }
   .abt_info h2{
    font-size: 6.5vw;
    line-height: 7vw;
   }
   .abt_info h3{
    font-size: 4vw;
    line-height: 6vw;
    
   }
   .abt_info h4 {
    font-size: 2.5vw;
    line-height: 4vw;
   }
 #blog{
    width: 100vw;
    height: 90vh;
    
    
    display: flex;
    flex-direction: column;
 }
 .picture img{
    display: none;
 }
 .blog_heading{
    transform: translateY(-35vh);
    -webkit-transform: translateY(-35vh);
    margin-right: -30vh;
 }
 .blog_content img{
    width: 7vw;
    height: 7vw;
    margin-left: 20vh;
    margin-top: 24vh;
 }
 .star2 img{
    width: 7vw;
    height: 7vw;
    transform: translateY(-17vh);
    -webkit-transform: translateY(-17vh);
 }
 .blog_heading h1{
    font-size: 5vw;
    line-height: 7vw;
    /* padding-top: vh; */
    margin-top: -20vh;
 }
 .blog_heading p{
    font-size: 2.5vw;
    line-height: 4vw;
    
 }
.dm_content h2,.finance h2,.hr_content h2,.it_content h2{
  font-size: 4vw;
  line-height: 5vw;
  transform: translateY(-1.6rem);
  -webkit-transform: translateY(-1.6rem);
  
}
.dm_content p,.hr_content p,.finance p,.it_content p{
  font-size: 3vw;
  line-height: 3vw;
  text-align: center;
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  
}
.dm_content a,.hr_content a,.it_content a,.finance a{
  font-size: 2.2vw;
  margin-top: 1vw;

}
 .dm_content{
    transform: translateY(-38vh);
    -webkit-transform: translateY(-38vh);
    margin-right: -15vw;
    
    
 }
 .finance{
    transform: translateY(-38vh);
    -webkit-transform: translateY(-38vh);
    margin-right: -15vw;
 }
 .hr_content,.it_content{
    transform: translateY(60vh);
    -webkit-transform: translateY(60vh);
    margin-right: 40vh;
 }
 .dm_content,.finance,.hr_content,.it_content{
    width: 90vw;
    height: 12vh;
    display: flex;
    align-items: center;
    margin-left: 17vh;
    border-radius: 4vw;
    
 }
 .services{
    width: 100vw;
    height: 75vh;
    /* background-color: black; */
    
 }
 .details2 img{
    display: none;
 }
 .digital_marketing_info {
    /* background-color: pink; */
    width: 100vw;
    height: 40vh;
    
    
 }
 .card1,.card2,.card3{
    width: 50vw;
    height: 50vw;
    border-radius: 5vw;
    margin-left: 6vw;
    margin-top: -20vh;
 }
 .arrow2_2{
    width: 13vw;
    height: 13vw;
    /* transform: translateY(20vh); */
     
    /* position: absolute;
    margin-left: 40vh; */
 }
 .arrow2_2 img{
    width: 5vw;
    height: 3vw;
 }
 .service{
    /* background-color: black; */
    height:30vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: 45vh;
    
    
 }
 #slide1 .card2 ,#slide1 .card3{
    display: none;
 }
 #slide2 .card1 ,#slide2 .card3{
    display: none;
 }
 #slide3 .card1 ,#slide3 .card2{
    display: none;
 }
 #slide4 .card1 ,#slide4 .card2{
    display: none;
 }
 .img img,.img01 img{
    width: 10vw;
    height: 10vw;
 }
 .naming h2{
    font-size: 4vw;
 }
 .information h3{
  font-size: 2vw;
  line-height: 3vw;  
 }
 #slide1 h1,#slide2 h1,#slide3 h1,#slide4 h1{
    width: 100vw;
    font-size: 6vw;
    line-height: 8vw;
    /* text-align: start; */
    /* text-align: center; */
    /* position: absolute;
    margin-top: 0.1vw; */
    transform: translateY(-4rem);
    -webkit-transform: translateY(-4rem);
    margin-left: -0.1vw;
    padding-left: 6vw;
    
    
    
 }
 
 .digital_marketing_info{
    flex-direction:column;
    -webkit-flex-direction:column;
    justify-content: center;
    align-items: center;
    /* margin-top: -6vh; */
    background: url("assets/slidebg.jpg");
    height: 80vh;
    /* transform: translateY(3vh); */
    padding-bottom: 60vh;
    
 }
 .digital_marketing_info hr{
    display: none;
 }
 .info_img{
  width: 60vw;
  height: 60vw;
  margin-left: 6vw;
 }
 .info_img img{
   width: 20vw;
   height: 28vw;
   
  
    
 }
 .info1_img{
  margin-left: 6vw;
 }
.info1_img img{
  width: 60vw;
  height: 60vw;
}
 .informations h2{
    transform: translateY(11rem);
    -webkit-transform: translateY(20rem);
    margin-right: 9em;
    font-size: 5vw;
    line-height: 6vw;
    width:30vh;
    font-family: "Inter Sans",sans-serif;
 }
 .details p {
    
    font-size: 3.5vw;
    line-height: 6vw;
    transform: translateY(11rem);
    -webkit-transform: translateY(11rem);
    width: 90vw;
    margin-right: 8em;
 }
 .info_contents{
  /* padding-top: 10vw; */
 }
 .details2{
    transform: translateY(10rem);
    -webkit-transform: translateY(10rem);
    margin-right: 13rem;
    

 }

 .ending{
    transform: translateY(-28vh);
    -webkit-transform: translateY(-28vh);
    /* margin-top: -10vh; */
    display: flex;
    width: 90%;
    /* background-color: black; */
    
    margin-left: -0.1vw;

 }
 .ending li{
    font-size: 4vw;
    line-height: 5vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }
 .ending li span{
    font-size: 2vw;
    line-height: 3vw;
    width: 10vh;
    transform: translateY(-1em);
    -webkit-transform: translateY(-1rem);
    text-align: center;
    
 }
 #active .information h3{
  color: black;
  font-size: 2.1vw;
  
}
 .details2 li{
    font-size: 3vw;
    line-height: 5vw;
    width: 40vh;
    display: flex;
 }
 .details2 li img{
    width: 4vw;
    height: 3vw;
    display: block;
 }

.feedback_section{
  height: 108vh;
}
.fdback_txt h1{
  font-size: 6vw;
  line-height: 6vw;
  transform: translateY(-9vh);
  -webkit-transform: translateY(-9vh);
  
}
.rating{
  transform: translateY(-2vw);
  -webkit-transform: translateY(-2vw);
}
.cards{
  flex-direction: column;
  -webkit-flex-direction:column;
  gap: 4vw;
  margin-top: -13vh;
  
}
.naming p,.naming p span{
  font-size: 3vw;
  line-height: 3vw;
}
.information p{
  font-size: 2.5vw;
  line-height: 4vw;
  transform: translateY(-5vw);
  -webkit-transform: translateY(-5vw);
}
.cards01,.cards02,.cards03{
  width: 60vw;
  height: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our_team{
  height: 60vh;
}

.ourteam h3{
  font-size: 6vw;
}
.ourteam p{
  font-size: 4vw;
  line-height: 6vw;
  text-align: center;
}
.minicards{
  width: 55vw;
  height: 40vw;
  gap: 3vw;
  flex-wrap: wrap;
  transform: translateX(14vw);
  -webkit-transform: translateX(14vw);
}
.min_card img{
  width: 15vw;
  height: 15vw;
}
.min_card p{
  font-size: 2vw;
  line-height: 3vw;
}
.design img{
 
  display: none;
}
.imgs{
  display: flex;
  width: 50vw;
  margin-top: 7vh;
  flex-wrap: wrap;
  gap: 4vw;
}
.imgs img{
  width: 14vw;
  height: 14vw;
}
.client_heading h4{
  font-size: 6vw;
  line-height: 6vw;
}
.client_heading p{
  font-size: 3vw;
  line-height: 4vw;
}
.swiper{
  height: 60vh;
  width: 100vw;
  
}
.sliding_feature{
  flex-direction: column;
  
}
.arrow1__1{
  display: none;
}
.arrow2__2{
  width: 13vw;
  height: 13vw;
  transform: translateX(14vh);
  -webkit-transform: translateX(14vh);
  margin-bottom: 4vw;
}
.arrow2__2 img{
  width: 4vw;
  height: 3vw;
 
}
.swiping{
  flex-direction: column;
  height: 60vh;
  width: 100vw;
  transform: translateY(-6vh) ;
  -webkit-transform: translateY(-6vh);
  
}
.cd1{
  width: 25vw;
  height: 25vw;
}
.cd1 img{
  width: 17vw;
  height: 17vw;
}
#contact{
  display: flex;
}
.whatsapp_contact{
  height: 60vh;
  flex-direction: column;
}
.star_img img{
  display: none;
}
.content01{
  transform: translateX(25vw);
  -webkit-transform: translateX(25vw);
}
.contact_deatils{
  margin-left: 8vw;
}
.content01 h3{
  font-size: 5vw;
  line-height: 7vw;
}
.content01 p{
  font-size: 3vw;
  line-height: 5vw;
}
.contact_deatils img{
  width: 8vw;
  height: 8vw;
}
.contact_deatils p{
  font-size: 5vw;

}
.contact_deatils h3{
  font-size: 3vw;
}
.content01 a{
  font-size: 2.2vw;
}
.contact_details{
  width: 70vw;
  
}
.c1{
  transform: translateY(-5vh);
  -webkit-transform: translateY(-5vh);
}
.c1 img{
  width: 12vw;
  height: 12vw;
}
.c1 p{
  font-size: 3vw;
  line-height: 4vw;
  width: 50vw;
}
#info{
  transform: translateY(-7vh);
  -webkit-transform: translateY(-7vh);
}
.informations h3{
  font-size: 4vw;
}
.informations a{
  font-size: 2vw;
  line-height: 3vw;
}
.contact_us{
  transform: translateY(12vh);
  -webkit-transform: translateY(12vh);
  margin-left: -80vw;
}
.contact_us h3{
  font-size: 4vw;
}
.contact_us a{
  font-size: 2vw;
  line-height: 3vw;
}
.contact_footer{
  transform: translateY(45vh);
  -webkit-transform: translateY(45vh);
 
  position: absolute;
  
 
}
.rights p{
  font-size: 2vw;
  line-height: 2vw;
}
.navigators a{
  font-size: 2vw;
  line-height: 2vw;
}

.sticky_buttons{
  display: none;
}
/* .sticky_buttons .third,.sticky_buttons .fourth,.sticky_buttons .fifth{
  display: none;
} */

#imgage_1 img{
  width: 15vw;
  height: 5vw;
}
#imgage_2 img{
  width: 19vw;
  height: 15vw;
}
#imgage_3 img{
  width: 17vw;
  height: 10vw;
}
#imgage_10 img{
  width: 17vw;
  height: 17vw;
}
#imgage_11 img{
  width: 18vw;
  height: 17.5vw;
}
#imgage_12 img{
  width: 17vw;
  height: 17vw;
}
#imgage_4 img,#imgage_5 img{
  width: 17vw;
  height: 17vw;
}
#imgage_6 img{
  width: 17vw;
  height: 10vw;
}


}



@media(max-width:1024px) {
    
    .ending{
       transform: translateY(-8vh);
       -webkit-transform: translateY(-8vh);
    }
    .ending li{
        font-size: 2vw;
    }
}
@media (max-width:1200px) {
  .ending{
    transform: translateY(-5vh);
    -webkit-transform: translateY(-5vh);
  }
}
@media (max-width:1070px) {
  .ending{
    transform: translateY(-7vh);
    -webkit-transform: translateY(-7vh);
  }
}
@media (max-width:1390px){
  .ending{
    transform: translateY(-7vh);
    -webkit-transform: translateY(-7vh);
  }
}
@media (max-width:980px) {
  .ending{
    transform: translateY(-9vh);
    -webkit-transform: translateY(-9vh);
  }
  .info_contents{
    margin-top: -5vh
  }
}
@media(max-width:788px) {
.ending{
  transform: translateY(-10vh);
  -webkit-transform: translateY(-10vh);
}
}
 

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}